<div ng-controller="expContoller" align="center">
    <div class="panel panel-primary text-center">
        <div class="panel-heading">Northwind's User Details </div>
        <div class="panel-body">
            <div class="panel panel-info" style="display: inline-block;">
                <div class="panel-heading"></div>
                <div class="panel-body text-left">
                    <fieldset>
                        <div class="form-group">
                            <div class="form-group">
                                <strong>ID: </strong>1
                            </div>
                            <div class="form-group">
                                <strong>Name: </strong>Syed Zainul
                            </div>
                            <div class="form-group">
                                <strong>Description: </strong>The most awesome
                            </div>                           
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary" ng-click="changeView('category')">Cancel</button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>