<div class="panel panel-primary text-center" ng-controller="userCreateContoller">
    <div class="panel-heading">Register</div>
    <div class="panel-body text-left">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-danger" ng-show="errorMessage">
                <strong>Error!</strong> {{errorMessage}}.
            </div>
            <form name="form" ng-submit="createUser(form.$valid)" role="form">
                <div class="alert alert-danger" ng-show="errorMessage">
                    <strong>Error!</strong> {{errorMessage}}.
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.Username.$invalid && usernameNotAvailable}">
                    <label for="Username">Username</label>
                    <input type="text" name="Username" id="Username" ng-blur="doesUserExist()" class="form-control" ng-model="user.Username"
                        required />
                    <span ng-show="form.Username.$dirty && form.Username.$error.required" class="help-block">Username is required</span>
                    <div class="alert alert-danger" ng-show="usernameNotAvailable">
                        <span ng-show="usernameNotAvailable">{{usernameNotAvailable}}</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.Password.$dirty && form.Password.$error.required }">
                    <label for="Password">Password</label>
                    <input type="password" name="Password" id="Password" class="form-control" ng-model="user.Password" required />
                    <span ng-show="form.Password.$dirty && form.Password.$error.required" class="help-block">Password is Password</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.UserID.$dirty && form.UserID.$error.required }">
                    <label for="UserID">User ID</label>
                    <input type="text" name="UserID" id="UserID" class="form-control" ng-model="user.UserID" required />
                    <span ng-show="form.UserID.$dirty && form.UserID.$error.required" class="help-block">UserID is required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.UserRole.$dirty && form.UserRole.$error.required }">
                    <label for="UserRole">UserRole</label>
                    <input type="text" name="UserRole" id="UserRole" class="form-control" ng-model="user.UserRole" required />
                    <span ng-show="form.UserRole.$dirty && form.UserRole.$error.required" class="help-block">UserRole is required</span>
                </div>
                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>