<!--<div class="form-group" ng-controller="expCtrl">
    <div class="form-group-item">
        <label for="user.Username"></label>
        <input type="text" class="form-control" ng-model="u.Username">
    </div>
    <div class="form-group-item">
        <label for="user.Password"></label>
        <input type="text" class="form-control" ng-model="u.Password">
    </div>
</div>-->
<div class="form-group" ng-controller="expCtrl">
    <div class="form-group-item">
        <label for="Username"></label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group-item">
        <label for="Password"></label>
        <input type="text" class="form-control" ng-model="Password">
    </div>
</div>